In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.4.1'

In [1]:
import pickle

with open('res_dict_final_baseline_k8_multirun.pickle', 'rb') as handle:
    res_dict = pickle.load(handle)
    
res_dict

{(8, (24, 12), 1, False): {'pred_spearman_corr': -0.04210770001624075,
  'pred_r2': 0.000227680042215444,
  'total_spearman_corr': 0.06431782633191002,
  'total_r2': 0.04767582478604768,
  'long_short_SR': 0.26145725659081637,
  'long_short_returns': 0.026577032379392778,
  'long_short_SD': 0.10164962612220069,
  'long_SR': 0.8504684359477074,
  'long_returns': 0.16012236534821309,
  'long_SD': 0.18827549451589345,
  'short_SR': 0.9956497667294515,
  'short_returns': 0.13354533296882032,
  'short_SD': 0.13412882464432763},
 (8, (24, 12), 2, False): {'pred_spearman_corr': -0.0011516705424983505,
  'pred_r2': 0.0023256962165112724,
  'total_spearman_corr': -0.00799389165011721,
  'total_r2': 0.027665384061041277,
  'long_short_SR': 0.5064398056957353,
  'long_short_returns': 0.04304118762993249,
  'long_short_SD': 0.08498776586252633,
  'long_SR': 1.143202018216432,
  'long_returns': 0.1594948031147757,
  'long_SD': 0.13951585159341454,
  'short_SR': 0.6105056015361433,
  'short_returns': 0.1164536154848432,
  'short_SD': 0.19074946272699986}}

In [8]:
import pickle

with open('res_dict_final_baseline_multirun.pickle', 'rb') as handle:
    res_dict = pickle.load(handle)
    
res_dict

{(4, (24, 12), 1, False): {'pred_spearman_corr': -0.030962718304462192,
  'pred_r2': 0.001706197878235834,
  'total_spearman_corr': -0.040336129414852415,
  'total_r2': 0.005101811124871129,
  'long_short_SR': 0.2607003574588221,
  'long_short_returns': 0.020477708162568706,
  'long_short_SD': 0.07854883039737749,
  'long_SR': 0.9189479451537194,
  'long_returns': 0.13975388086886587,
  'long_SD': 0.1520803018341677,
  'short_SR': 0.9013377656717195,
  'short_returns': 0.1192761727062972,
  'short_SD': 0.1323323810995614},
 (4, (24, 12), 2, False): {'pred_spearman_corr': -0.02442198875680107,
  'pred_r2': -0.00019653544526776479,
  'total_spearman_corr': 0.08037362437290238,
  'total_r2': 0.0653492145089098,
  'long_short_SR': 0.14255999271266545,
  'long_short_returns': 0.014462665560319709,
  'long_short_SD': 0.10144967943053776,
  'long_SR': 0.9648818585743729,
  'long_returns': 0.14831985775303036,
  'long_SD': 0.153718153611236,
  'short_SR': 0.8297911547885808,
  'short_returns': 0.13385719219271058,
  'short_SD': 0.16131431556029965},
 (4, (24, 12), 3, False): {'pred_spearman_corr': -0.0374570267774568,
  'pred_r2': -0.0014629683241786603,
  'total_spearman_corr': 0.0992508618229187,
  'total_r2': 0.06841183226976619,
  'long_short_SR': 0.009063279347416969,
  'long_short_returns': 0.0016900191609128105,
  'long_short_SD': 0.18646883717585788,
  'long_SR': 0.8941137469167142,
  'long_returns': 0.12186064460344975,
  'long_SD': 0.13629210491805682,
  'short_SR': 0.6383530518539358,
  'short_returns': 0.12017062544253693,
  'short_SD': 0.18825103928544176},
 (4, (24, 12), 4, False): {'pred_spearman_corr': 0.0048739761690581515,
  'pred_r2': 0.00046069934273455077,
  'total_spearman_corr': 0.08925333222795945,
  'total_r2': 0.05287231463187287,
  'long_short_SR': 0.21665481726042554,
  'long_short_returns': 0.02473429580109685,
  'long_short_SD': 0.11416453192160267,
  'long_SR': 1.4254765258651183,
  'long_returns': 0.15225724934253926,
  'long_SD': 0.10681147432444368,
  'short_SR': 0.6524118581089183,
  'short_returns': 0.12752295354144244,
  'short_SD': 0.19546388060922218},
 (4, (24, 12), 5, False): {'pred_spearman_corr': -0.022753432680627985,
  'pred_r2': -0.0032388236136858357,
  'total_spearman_corr': 0.08395956088283592,
  'total_r2': 0.06526303505715399,
  'long_short_SR': 0.5112155671413838,
  'long_short_returns': 0.07998720137353506,
  'long_short_SD': 0.156464721567083,
  'long_SR': 1.5270507009452814,
  'long_returns': 0.18332386224075936,
  'long_SD': 0.12005093355923116,
  'short_SR': 0.5352452411603829,
  'short_returns': 0.10333666086722434,
  'short_SD': 0.19306413755906732},
 (4, (24, 12), 6, False): {'pred_spearman_corr': -0.07351178655303446,
  'pred_r2': 0.001147290457554856,
  'total_spearman_corr': 0.06471809707058224,
  'total_r2': 0.05506939140354793,
  'long_short_SR': -0.10693089236343058,
  'long_short_returns': -0.0161616351168794,
  'long_short_SD': 0.15114093560493408,
  'long_SR': 0.5368585078768174,
  'long_returns': 0.10658324801854371,
  'long_SD': 0.1985313568747602,
  'short_SR': 1.3858255320995096,
  'short_returns': 0.12274488313542305,
  'short_SD': 0.08857167103096011},
 (4, (24, 12), 7, False): {'pred_spearman_corr': -0.03446139851976189,
  'pred_r2': 0.0012925816987017875,
  'total_spearman_corr': -0.013647295506573356,
  'total_r2': 0.016458425107155852,
  'long_short_SR': 0.20210275768089236,
  'long_short_returns': 0.030991856624252745,
  'long_short_SD': 0.15334702494850144,
  'long_SR': 0.8179388970384571,
  'long_returns': 0.18216543992480033,
  'long_SD': 0.22271277302543474,
  'short_SR': 1.4557323470692376,
  'short_returns': 0.15117358330054756,
  'short_SD': 0.1038471004679526},
 (4, (24, 12), 8, False): {'pred_spearman_corr': -0.046068471509589676,
  'pred_r2': 0.0016909120094633788,
  'total_spearman_corr': 0.09159337986598687,
  'total_r2': 0.04264956618339621,
  'long_short_SR': -0.1588328573349854,
  'long_short_returns': -0.01902250572261576,
  'long_short_SD': 0.11976429840644665,
  'long_SR': 0.6969047908648739,
  'long_returns': 0.1250674730275365,
  'long_SD': 0.17946134775788394,
  'short_SR': 1.1952399547684815,
  'short_returns': 0.1440899787501523,
  'short_SD': 0.12055318112090938},
 (4, (24, 12), 9, False): {'pred_spearman_corr': -0.05000775426654549,
  'pred_r2': 0.0002642168946053659,
  'total_spearman_corr': 0.10519476598518072,
  'total_r2': 0.028235594751961326,
  'long_short_SR': -0.2356389426697311,
  'long_short_returns': -0.04010007776410479,
  'long_short_SD': 0.17017593658238658,
  'long_SR': 0.6580653000306951,
  'long_returns': 0.12559398369664682,
  'long_SD': 0.19085337532732474,
  'short_SR': 1.253014409619109,
  'short_returns': 0.16569406146075163,
  'short_SD': 0.13223635753009358},
 (4, (24, 12), 10, False): {'pred_spearman_corr': -0.02148313473208008,
  'pred_r2': 0.001029249644156154,
  'total_spearman_corr': 0.11625320386427505,
  'total_r2': 0.06604419517944403,
  'long_short_SR': 0.06556968654141547,
  'long_short_returns': 0.007455182183055057,
  'long_short_SD': 0.11369860946866317,
  'long_SR': 0.973810355065341,
  'long_returns': 0.16099308491597175,
  'long_SD': 0.16532283116374275,
  'short_SR': 0.9903586180146196,
  'short_returns': 0.1535379027329167,
  'short_SD': 0.15503263155392683}}

In [15]:
total_corr_lst = []
for k,v in res_dict.items():
    total_corr_lst.append((k,v['total_spearman_corr']))
total_corr_lst.sort(key=lambda t: t[1],reverse=True)
print(total_corr_lst[:5])

[((4, (24, 12), 10, False), 0.11625320386427505), ((4, (24, 12), 9, False), 0.10519476598518072), ((4, (24, 12), 3, False), 0.0992508618229187), ((4, (24, 12), 8, False), 0.09159337986598687), ((4, (24, 12), 4, False), 0.08925333222795945)]

In [18]:
def get_table(metric,res_dict):
    # metric = 'pred_r2'
    layers = [(24,12),(24,12,6)]
    factors = [2,4,6,8]

    metric_df = pd.DataFrame(np.zeros((len(layers),len(factors))),index=range(len(layers)), columns=factors)
    for k,v in res_dict.items():
        metric_df.loc[layers.index(k[1]),k[0]] = metric(v)
    metric_df.index = layers
#     print(metric)
    return metric_df

In [16]:
import pickle

with open('res_dict_final_baseline.pickle', 'rb') as handle:
    res_dict = pickle.load(handle)
    
res_dict

{(2, (24, 12), False): {'pred_spearman_corr': -0.019227707864296225,
  'pred_r2': 7.309958882551692e-05,
  'total_spearman_corr': 0.0016064683126663514,
  'total_r2': 0.0037259709114684705,
  'long_short_SR': 0.012034966189242352,
  'long_short_returns': 0.0012233400675007115,
  'long_short_SD': 0.10164881631277149,
  'long_SR': 0.6413922028434661,
  'long_returns': 0.12478084007169829,
  'long_SD': 0.19454686152795572,
  'short_SR': 0.9392581006609987,
  'short_returns': 0.12355750000419762,
  'short_SD': 0.1315479737861665},
 (2, (24, 12, 6), False): {'pred_spearman_corr': -0.03220998456352949,
  'pred_r2': 0.0007710695702686022,
  'total_spearman_corr': -0.023574889832062674,
  'total_r2': 0.01765000268334026,
  'long_short_SR': -0.8707334325867278,
  'long_short_returns': -0.05282364722078857,
  'long_short_SD': 0.060665693131665935,
  'long_SR': 0.6066566029646665,
  'long_returns': 0.0988103292503292,
  'long_SD': 0.16287687098014525,
  'short_SR': 1.0828410403030142,
  'short_returns': 0.15163397647111773,
  'short_SD': 0.14003345904647793},
 (4, (24, 12), False): {'pred_spearman_corr': 0.0031446824534066475,
  'pred_r2': 0.0021557410376495754,
  'total_spearman_corr': 0.07011944576919693,
  'total_r2': 0.027072267604620753,
  'long_short_SR': 0.7991052691707546,
  'long_short_returns': 0.060037087142462475,
  'long_short_SD': 0.07513038576852833,
  'long_SR': 1.292594936451769,
  'long_returns': 0.19297392228607296,
  'long_SD': 0.149291875470126,
  'short_SR': 0.7642875455934612,
  'short_returns': 0.1329368351436105,
  'short_SD': 0.17393562921450778},
 (4, (24, 12, 6), False): {'pred_spearman_corr': 0.0026724358679495195,
  'pred_r2': 0.0018339319686038536,
  'total_spearman_corr': 0.04219885057193043,
  'total_r2': 0.037599978097985945,
  'long_short_SR': 0.2232599139963178,
  'long_short_returns': 0.015151795081502106,
  'long_short_SD': 0.06786616912229035,
  'long_SR': 0.8777215283176835,
  'long_returns': 0.14159747934923914,
  'long_SD': 0.16132392197401949,
  'short_SR': 0.7927158685013981,
  'short_returns': 0.12644568426773703,
  'short_SD': 0.159509465234723},
 (6, (24, 12), False): {'pred_spearman_corr': -0.029437738528583064,
  'pred_r2': -0.0006527598079506268,
  'total_spearman_corr': 0.0934090698239477,
  'total_r2': 0.04737372923866226,
  'long_short_SR': -0.3872638676336222,
  'long_short_returns': -0.025838456257598993,
  'long_short_SD': 0.06672054487160138,
  'long_SR': 0.6985733842485194,
  'long_returns': 0.11515232524907915,
  'long_SD': 0.16483926792165526,
  'short_SR': 1.009069558780589,
  'short_returns': 0.14099078150667815,
  'short_SD': 0.139723550551915},
 (6, (24, 12, 6), False): {'pred_spearman_corr': -0.025956461038807714,
  'pred_r2': 0.00028424660421952065,
  'total_spearman_corr': 0.016854981516271957,
  'total_r2': 0.037145750755626795,
  'long_short_SR': -0.940030367310009,
  'long_short_returns': -0.08583352354740022,
  'long_short_SD': 0.09130930928648766,
  'long_SR': 0.44328786317872815,
  'long_returns': 0.07271689124985517,
  'long_SD': 0.1640398875990354,
  'short_SR': 1.2135176061244721,
  'short_returns': 0.15855041479725535,
  'short_SD': 0.13065357601494296},
 (8, (24, 12), False): {'pred_spearman_corr': -0.032463412277219626,
  'pred_r2': -0.0006967289905157431,
  'total_spearman_corr': -0.031396539478555925,
  'total_r2': 0.03896517760176221,
  'long_short_SR': 0.8586062084673851,
  'long_short_returns': 0.08184595825626358,
  'long_short_SD': 0.0953242096890481,
  'long_SR': 1.2024905200976892,
  'long_returns': 0.20057346505340934,
  'long_SD': 0.16679837528957397,
  'short_SR': 0.7787727617041497,
  'short_returns': 0.1187275067971458,
  'short_SD': 0.1524546217273191},
 (8, (24, 12, 6), False): {'pred_spearman_corr': 0.010408909191197833,
  'pred_r2': -0.009671224939135546,
  'total_spearman_corr': -0.0006586447882638235,
  'total_r2': 0.020659724916377614,
  'long_short_SR': 0.14148177727921663,
  'long_short_returns': 0.013745331724041254,
  'long_short_SD': 0.0971526650878481,
  'long_SR': 0.8960439518564991,
  'long_returns': 0.12765287472076522,
  'long_SD': 0.14246273796757764,
  'short_SR': 0.6240910710539983,
  'short_returns': 0.11390754299672398,
  'short_SD': 0.18251750149918158}}

In [17]:
import pickle

with open('res_dict_midterm_2.pickle', 'rb') as handle:
    res_dict = pickle.load(handle)
    
res_dict

{(2, (24,), False): {'pred_spearman_corr': -0.033936289089400294,
  'pred_r2': 0.00034053785551474614,
  'total_spearman_corr': -0.03190306115787338,
  'total_r2': 0.0005545383756975558,
  'long_short_SR': -0.4653496707162461,
  'long_short_returns': -0.050859727830473336,
  'long_short_SD': 0.10929357219097681,
  'long_SR': 0.6875579933901915,
  'long_returns': 0.13455676053374951,
  'long_SD': 0.19570241612679218,
  'short_SR': 1.2443322364454754,
  'short_returns': 0.1854164883642228,
  'short_SD': 0.1490088281357062},
 (2, (16, 8), False): {'pred_spearman_corr': -0.03520807445275088,
  'pred_r2': -0.006279538125513462,
  'total_spearman_corr': -0.035768958672578725,
  'total_r2': -0.0065902148938561875,
  'long_short_SR': 0.4417348977877045,
  'long_short_returns': 0.04943473438314644,
  'long_short_SD': 0.11191041194781153,
  'long_SR': 1.0235524544705477,
  'long_returns': 0.19655500361674544,
  'long_SD': 0.19203217456834423,
  'short_SR': 0.8492363304194427,
  'short_returns': 0.14712026923359903,
  'short_SD': 0.17323831301580733},
 (2, (16, 8, 4), False): {'pred_spearman_corr': 0.03189581977501901,
  'pred_r2': 0.0037371087692752015,
  'total_spearman_corr': 0.03076378943993115,
  'total_r2': 0.004388603902802605,
  'long_short_SR': 0.06713102096717566,
  'long_short_returns': 0.004593975449523522,
  'long_short_SD': 0.06843297455240237,
  'long_SR': 1.0721438335304052,
  'long_returns': 0.17069834773274856,
  'long_SD': 0.1592121713470711,
  'short_SR': 0.9470111525284405,
  'short_returns': 0.16610437228322503,
  'short_SD': 0.17539853869697333},
 (4, (24,), False): {'pred_spearman_corr': 0.040307263488883555,
  'pred_r2': 0.0010834551237252038,
  'total_spearman_corr': 0.043561070064288485,
  'total_r2': 0.001190451455848298,
  'long_short_SR': 0.4539850626613224,
  'long_short_returns': 0.046275195272327097,
  'long_short_SD': 0.1019310965895124,
  'long_SR': 1.1259129132150598,
  'long_returns': 0.18517409994056433,
  'long_SD': 0.16446573954978197,
  'short_SR': 0.6900829230352006,
  'short_returns': 0.1388989046682372,
  'short_SD': 0.20127857106985977},
 (4, (16, 8), False): {'pred_spearman_corr': 0.03243611293867184,
  'pred_r2': 0.0024109399530948474,
  'total_spearman_corr': 0.03337023472201892,
  'total_r2': 0.002715761492479418,
  'long_short_SR': 0.9521194396080127,
  'long_short_returns': 0.0760340958007975,
  'long_short_SD': 0.07985772859768593,
  'long_SR': 1.0259443451722734,
  'long_returns': 0.17052310963386064,
  'long_SD': 0.16621087726276898,
  'short_SR': 0.4821956523021608,
  'short_returns': 0.09448901383306312,
  'short_SD': 0.19595575651074712},
 (4, (16, 8, 4), False): {'pred_spearman_corr': -0.03754475348496582,
  'pred_r2': 0.002017234266763054,
  'total_spearman_corr': -0.03678005307162593,
  'total_r2': 0.0026681976526410187,
  'long_short_SR': -0.9749924703833102,
  'long_short_returns': -0.08644731100699633,
  'long_short_SD': 0.08866459345374256,
  'long_SR': 0.4743826450259934,
  'long_returns': 0.09869270174106887,
  'long_SD': 0.20804450326310117,
  'short_SR': 1.0839879224382776,
  'short_returns': 0.18514001274806524,
  'short_SD': 0.17079527263700406},
 (6, (24,), False): {'pred_spearman_corr': 0.028651470348253837,
  'pred_r2': 0.0003380737358632631,
  'total_spearman_corr': 0.02998089094237574,
  'total_r2': 0.00046975601448363564,
  'long_short_SR': 0.19268408210004195,
  'long_short_returns': 0.017679714053180227,
  'long_short_SD': 0.09175492786166364,
  'long_SR': 0.9561536961047982,
  'long_returns': 0.13575016774755425,
  'long_SD': 0.14197525805796338,
  'short_SR': 0.5578939304387313,
  'short_returns': 0.118070453694374,
  'short_SD': 0.21163602479331986},
 (6, (16, 8), False): {'pred_spearman_corr': -0.04031397860983062,
  'pred_r2': -0.0018098653378403023,
  'total_spearman_corr': -0.04210503206083934,
  'total_r2': -0.0014499892005039345,
  'long_short_SR': 0.09953472165311085,
  'long_short_returns': 0.01257663507743745,
  'long_short_SD': 0.1263542497387833,
  'long_SR': 0.9213900097249138,
  'long_returns': 0.2053380949110279,
  'long_SD': 0.22285687140490348,
  'short_SR': 1.135932605262185,
  'short_returns': 0.19276145983359042,
  'short_SD': 0.16969445100935282},
 (6, (16, 8, 4), False): {'pred_spearman_corr': 0.039988275775472606,
  'pred_r2': 9.777424032458656e-06,
  'total_spearman_corr': 0.040624739704991315,
  'total_r2': 0.0012273733403632466,
  'long_short_SR': 0.8555544725824733,
  'long_short_returns': 0.07749960133521237,
  'long_short_SD': 0.09058406427504427,
  'long_SR': 1.076006018541437,
  'long_returns': 0.177788556519494,
  'long_SD': 0.16523007627828368,
  'short_SR': 0.45036236290411136,
  'short_returns': 0.10028895518428164,
  'short_SD': 0.2226850275355594}}

In [19]:
get_table(lambda d: d['pred_r2'],res_dict)

                    2         4         6         8
(24, 12)     0.000073  0.002156 -0.000653 -0.000697
(24, 12, 6)  0.000771  0.001834  0.000284 -0.009671

In [20]:
get_table(lambda d: d['total_r2'],res_dict)

                    2         4         6         8
(24, 12)     0.003726  0.027072  0.047374  0.038965
(24, 12, 6)  0.017650  0.037600  0.037146  0.020660

In [21]:
get_table(lambda d: d['long_short_SR'],res_dict)

                    2         4         6         8
(24, 12)     0.012035  0.799105 -0.387264  0.858606
(24, 12, 6) -0.870733  0.223260 -0.940030  0.141482

In [22]:
get_table(lambda d: d['long_SR'] - d['short_SR'],res_dict)

                    2         4         6         8
(24, 12)    -0.297866  0.528307 -0.310496  0.423718
(24, 12, 6) -0.476184  0.085006 -0.770230  0.271953

In [25]:
get_table(lambda d: d['long_SR'],res_dict)

                    2         4         6         8
(24, 12)     0.641392  1.292595  0.698573  1.202491
(24, 12, 6)  0.606657  0.877722  0.443288  0.896044

In [26]:
get_table(lambda d: d['short_SR'],res_dict)

                    2         4         6         8
(24, 12)     0.939258  0.764288  1.009070  0.778773
(24, 12, 6)  1.082841  0.792716  1.213518  0.624091

In [59]:
import pickle

with open('res_dict_midterm.pickle', 'rb') as handle:
    res_dict = pickle.load(handle)
    
res_dict

{(4, (16, 8, 4), False): {'pred_spearman_corr': -0.018706727806048554,
  'pred_r2': 0.0030472296014355605,
  'total_spearman_corr': -0.01991879755258095,
  'total_r2': 0.02274007800838688,
  'long_short_SR': -0.27913333883577746,
  'long_short_returns': -0.019991216156344256,
  'long_short_SD': 0.07161887662621945,
  'long_SR': 0.7397294381066329,
  'long_returns': 0.14732556553591664,
  'long_SD': 0.19916142030659523,
  'short_SR': 1.0972064721831996,
  'short_returns': 0.16731678169226089,
  'short_SD': 0.15249343303575055}}

In [57]:
import pickle

with open('res_dict_lhs_noactivation.pickle', 'rb') as handle:
    res_dict = pickle.load(handle)
    
res_dict

{(4, (16, 8, 4), True): {'pred_spearman_corr': -0.021140208188375448,
  'pred_r2': 6.199069902792011e-05,
  'total_spearman_corr': -0.025387112052151457,
  'total_r2': 0.006706471125994881,
  'long_short_SR': -0.426600375572294,
  'long_short_returns': -0.033521298238899266,
  'long_short_SD': 0.07857775135319486,
  'long_SR': 0.6745571623097655,
  'long_returns': 0.13319102656669868,
  'long_SD': 0.1974495773058527,
  'short_SR': 1.0844674630484274,
  'short_returns': 0.166712324805598,
  'short_SD': 0.15372736433877995}}

In [29]:
import pickle

with open('res_dict_noactivation.pickle', 'rb') as handle:
    res_dict = pickle.load(handle)
    
res_dict

{(2, (24,), False): {'pred_spearman_corr': -0.004965104787245305,
  'pred_r2': -8.789600321966318e-05,
  'total_spearman_corr': -0.005806290485924543,
  'total_r2': -0.00012452949088769994,
  'long_short_SR': 0.14791383762852575,
  'long_short_returns': 0.010313741769377997,
  'long_short_SD': 0.06972803853064895,
  'long_SR': 0.9568073931327359,
  'long_returns': 0.16931490099919674,
  'long_SD': 0.1769581863752468,
  'short_SR': 0.8904139934948759,
  'short_returns': 0.15900115922981872,
  'short_SD': 0.17856992409310526},
 (2, (16, 8), False): {'pred_spearman_corr': -0.01772875948440217,
  'pred_r2': 0.0016669381290237198,
  'total_spearman_corr': -0.016794951063935436,
  'total_r2': 0.00197624686360635,
  'long_short_SR': 0.6383628414733439,
  'long_short_returns': 0.05226445798955369,
  'long_short_SD': 0.08187265077792923,
  'long_SR': 0.9711907322219616,
  'long_returns': 0.1858854854510328,
  'long_SD': 0.19139956682427386,
  'short_SR': 0.7931889536430942,
  'short_returns': 0.13362102746147914,
  'short_SD': 0.1684605248822006},
 (2, (16, 8, 4), False): {'pred_spearman_corr': 0.03113566322476701,
  'pred_r2': -0.0023831596165138787,
  'total_spearman_corr': 0.030466437425528372,
  'total_r2': -0.0026444137530111035,
  'long_short_SR': 0.6307917421538929,
  'long_short_returns': 0.04045243721745508,
  'long_short_SD': 0.06412962395374222,
  'long_SR': 1.2355172816731845,
  'long_returns': 0.19065025023647914,
  'long_SD': 0.1543080400933715,
  'short_SR': 0.7978830211478464,
  'short_returns': 0.15019781301902407,
  'short_SD': 0.18824540570238887},
 (4, (24,), False): {'pred_spearman_corr': 0.02066249808230159,
  'pred_r2': -0.0003940016426326465,
  'total_spearman_corr': 0.019248213023406926,
  'total_r2': -0.00015775187261342385,
  'long_short_SR': -0.14118317528985586,
  'long_short_returns': -0.015660740227648465,
  'long_short_SD': 0.11092497527057463,
  'long_SR': 1.0635683346620566,
  'long_returns': 0.17249885732890435,
  'long_SD': 0.16218878628397201,
  'short_SR': 0.8536863827342155,
  'short_returns': 0.18815959755655284,
  'short_SD': 0.22040833889596426},
 (4, (16, 8), False): {'pred_spearman_corr': 0.04318365704864959,
  'pred_r2': 0.0023420645959444375,
  'total_spearman_corr': 0.031596288065384934,
  'total_r2': 0.009794372624253936,
  'long_short_SR': -0.2902487689168723,
  'long_short_returns': -0.03334845665231449,
  'long_short_SD': 0.11489611748143379,
  'long_SR': 0.9052027755010772,
  'long_returns': 0.13843251025288106,
  'long_SD': 0.15292983406535776,
  'short_SR': 0.8766619932223909,
  'short_returns': 0.17178096690519556,
  'short_SD': 0.1959489155834982},
 (4, (16, 8, 4), False): {'pred_spearman_corr': 0.02849111632156229,
  'pred_r2': 0.0038678334423901005,
  'total_spearman_corr': 0.025505294077143977,
  'total_r2': 0.020848545331579652,
  'long_short_SR': 0.2717249996682757,
  'long_short_returns': 0.03270027122244944,
  'long_short_SD': 0.12034325609483934,
  'long_SR': 1.1295588559285934,
  'long_returns': 0.18793754536055568,
  'long_SD': 0.16638136594135683,
  'short_SR': 0.6879854581687107,
  'short_returns': 0.1552372741381062,
  'short_SD': 0.2256403420957747},
 (6, (24,), False): {'pred_spearman_corr': -0.016890383539225277,
  'pred_r2': -0.0051443351712815045,
  'total_spearman_corr': -0.015601606515816524,
  'total_r2': -0.0047769322858628865,
  'long_short_SR': 0.05563956206234192,
  'long_short_returns': 0.004195294785407309,
  'long_short_SD': 0.07540129055485102,
  'long_SR': 0.8831595561271212,
  'long_returns': 0.16303820110748696,
  'long_SD': 0.18460786612834815,
  'short_SR': 1.1088451513562356,
  'short_returns': 0.1588429063220797,
  'short_SD': 0.14325075609321816},
 (6, (16, 8), False): {'pred_spearman_corr': -0.0427445442359789,
  'pred_r2': -0.010051405792934051,
  'total_spearman_corr': -0.0442151245635567,
  'total_r2': -0.008422908192756361,
  'long_short_SR': 0.25760768965496067,
  'long_short_returns': 0.022711202345470603,
  'long_short_SD': 0.08816197364251802,
  'long_SR': 1.0178507621452293,
  'long_returns': 0.18675180589903545,
  'long_SD': 0.18347660859970868,
  'short_SR': 1.040654809339694,
  'short_returns': 0.1640406035535648,
  'short_SD': 0.15763210055950277},
 (6, (16, 8, 4), False): {'pred_spearman_corr': -0.004294633334500128,
  'pred_r2': -0.006862649489935633,
  'total_spearman_corr': -0.004660658034850917,
  'total_r2': 0.007203179709161685,
  'long_short_SR': -0.12550628830298824,
  'long_short_returns': -0.005691761156564394,
  'long_short_SD': 0.045350406210912346,
  'long_SR': 0.8314844461828036,
  'long_returns': 0.1487375473826586,
  'long_SD': 0.17888193587443046,
  'short_SR': 0.9020100634741806,
  'short_returns': 0.154429308539223,
  'short_SD': 0.17120574901839042}}

In [41]:
import pickle

with open('res_dict_activation.pickle', 'rb') as handle:
    activation_res_dict = pickle.load(handle)
    
activation_res_dict

{(2, (24,), True): {'pred_spearman_corr': -0.0061990352553535745,
  'pred_r2': 0.002841596107762707,
  'total_spearman_corr': -0.007144308904232431,
  'total_r2': 0.0031393152990574083,
  'long_short_SR': 0.8018228629573079,
  'long_short_returns': 0.05106057330068696,
  'long_short_SD': 0.06368061533237375,
  'long_SR': 1.0591500130827909,
  'long_returns': 0.1808056921135521,
  'long_SD': 0.17070829427390943,
  'short_SR': 0.7335613415971081,
  'short_returns': 0.12974511881286518,
  'short_SD': 0.1768701694808295},
 (2, (16, 8), True): {'pred_spearman_corr': 0.008066398648030198,
  'pred_r2': 0.00047559296659351383,
  'total_spearman_corr': 0.008066064019983955,
  'total_r2': 0.0005019304958356707,
  'long_short_SR': 0.40386472296515286,
  'long_short_returns': 0.02171446085449673,
  'long_short_SD': 0.053766668935752396,
  'long_SR': 1.0406081038558763,
  'long_returns': 0.15480543906970637,
  'long_SD': 0.1487643989087623,
  'short_SR': 0.7060839736993454,
  'short_returns': 0.1330909782152096,
  'short_SD': 0.18849171369506323},
 (2, (16, 8, 4), True): {'pred_spearman_corr': -0.03012049939464438,
  'pred_r2': -0.6514506297655998,
  'total_spearman_corr': -0.027907694040363792,
  'total_r2': -0.6424554920315538,
  'long_short_SR': -0.3060734206709675,
  'long_short_returns': -0.018739560884711952,
  'long_short_SD': 0.06122570474636931,
  'long_SR': 0.7764685112015849,
  'long_returns': 0.14420152880031073,
  'long_SD': 0.18571458690212547,
  'short_SR': 0.9145562110844618,
  'short_returns': 0.16294108968502266,
  'short_SD': 0.17816410594577942},
 (4, (24,), True): {'pred_spearman_corr': 0.014240144347348119,
  'pred_r2': -0.002636535127586973,
  'total_spearman_corr': 0.015271293163919503,
  'total_r2': -0.0024174519218128705,
  'long_short_SR': -0.5582532100669904,
  'long_short_returns': -0.036852723181587645,
  'long_short_SD': 0.06601435068714664,
  'long_SR': 0.9033994961526883,
  'long_returns': 0.13821361597348494,
  'long_SD': 0.1529927972752873,
  'short_SR': 0.93784869617873,
  'short_returns': 0.1750663391550726,
  'short_SD': 0.18666799865306782},
 (4, (16, 8), True): {'pred_spearman_corr': 0.008454470373953662,
  'pred_r2': 1.791292152687512e-05,
  'total_spearman_corr': 0.007527085973731793,
  'total_r2': 0.00041787160100001337,
  'long_short_SR': -0.29862115132085804,
  'long_short_returns': -0.025231552211043846,
  'long_short_SD': 0.08449351996481126,
  'long_SR': 0.8542298087811296,
  'long_returns': 0.15535983151433605,
  'long_SD': 0.1818712364252583,
  'short_SR': 0.9683088362633994,
  'short_returns': 0.18059138372537983,
  'short_SD': 0.18650184420733235},
 (4, (16, 8, 4), True): {'pred_spearman_corr': 0.005804389303906021,
  'pred_r2': 0.003366442612141112,
  'total_spearman_corr': -0.004270088397012466,
  'total_r2': 0.015044169132122835,
  'long_short_SR': 0.7531072401146879,
  'long_short_returns': 0.05484640261430676,
  'long_short_SD': 0.07282681627911902,
  'long_SR': 1.1218878024792176,
  'long_returns': 0.20307897863567714,
  'long_SD': 0.18101540830277374,
  'short_SR': 0.8685055158314394,
  'short_returns': 0.14823257602137047,
  'short_SD': 0.170675457230072},
 (6, (24,), True): {'pred_spearman_corr': -0.02418805186440521,
  'pred_r2': -0.0033652106566409634,
  'total_spearman_corr': -0.023173083394009114,
  'total_r2': -0.0024458091957971755,
  'long_short_SR': -0.7610092672654637,
  'long_short_returns': -0.0698160748528764,
  'long_short_SD': 0.09174142530976877,
  'long_SR': 0.6689286347358462,
  'long_returns': 0.1332937420230909,
  'long_SD': 0.19926451806884807,
  'short_SR': 1.195354682483064,
  'short_returns': 0.2031098168759672,
  'short_SD': 0.1699159419813833},
 (6, (16, 8), True): {'pred_spearman_corr': -0.0013844891411120446,
  'pred_r2': -0.0012322243867491942,
  'total_spearman_corr': -0.0031321200858753554,
  'total_r2': 4.513807672434169e-05,
  'long_short_SR': -0.6500192802286632,
  'long_short_returns': -0.037540516473341376,
  'long_short_SD': 0.057752927667215355,
  'long_SR': 0.7371143644255844,
  'long_returns': 0.14320043435533852,
  'long_SD': 0.19427166429856668,
  'short_SR': 1.0758788093202831,
  'short_returns': 0.18074095082867994,
  'short_SD': 0.16799378262953998},
 (6, (16, 8, 4), True): {'pred_spearman_corr': -0.0035259895004441178,
  'pred_r2': 0.0026633929921337928,
  'total_spearman_corr': -0.002517694091739338,
  'total_r2': 0.04860623782541501,
  'long_short_SR': -0.34468374429365234,
  'long_short_returns': -0.017258126236862334,
  'long_short_SD': 0.05006945213569259,
  'long_SR': 0.9433421667587137,
  'long_returns': 0.14775516735075345,
  'long_SD': 0.156629452766258,
  'short_SR': 1.0649180676557883,
  'short_returns': 0.1650132935876158,
  'short_SD': 0.15495398059200993}}

In [ ]:
pd.concat([get_table(lambda d: d['pred_r2'],res_dict),get_table(lambda d: d['pred_r2'],activation_res_dict)],axis=0)

In [53]:
pd.concat([get_table(lambda d: d['total_r2'],res_dict),get_table(lambda d: d['total_r2'],activation_res_dict)],axis=0)

                   2         4         6
(24,)      -0.000125 -0.000158 -0.004777
(16, 8)     0.001976  0.009794 -0.008423
(16, 8, 4) -0.002644  0.020849  0.007203
(24,)       0.003139 -0.002417 -0.002446
(16, 8)     0.000502  0.000418  0.000045
(16, 8, 4) -0.642455  0.015044  0.048606

In [45]:
metric = lambda d: (d['long_SR'] - d['short_SR'])
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       0.066393  0.209882 -0.225686
(16, 8)     0.178002  0.028541 -0.022804
(16, 8, 4)  0.437634  0.441573 -0.070526
(24,)       0.325589 -0.034449 -0.526426
(16, 8)     0.334524 -0.114079 -0.338764
(16, 8, 4) -0.138088  0.253382 -0.121576

In [55]:
metric = lambda d: (d['long_SR']/d['short_SR'])
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       1.074565  1.245854  0.796468
(16, 8)     1.224413  1.032556  0.978087
(16, 8, 4)  1.548494  1.641835  0.921813
(24,)       1.443847  0.963268  0.559607
(16, 8)     1.473774  0.882187  0.685128
(16, 8, 4)  0.849011  1.291745  0.885835

In [46]:
metric = lambda d: d['long_short_SR']
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       0.147914 -0.141183  0.055640
(16, 8)     0.638363 -0.290249  0.257608
(16, 8, 4)  0.630792  0.271725 -0.125506
(24,)       0.801823 -0.558253 -0.761009
(16, 8)     0.403865 -0.298621 -0.650019
(16, 8, 4) -0.306073  0.753107 -0.344684

In [47]:
metric = lambda d: d['long_SR']
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       0.956807  1.063568  0.883160
(16, 8)     0.971191  0.905203  1.017851
(16, 8, 4)  1.235517  1.129559  0.831484
(24,)       1.059150  0.903399  0.668929
(16, 8)     1.040608  0.854230  0.737114
(16, 8, 4)  0.776469  1.121888  0.943342

In [48]:
metric = lambda d: d['short_SR']
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       0.890414  0.853686  1.108845
(16, 8)     0.793189  0.876662  1.040655
(16, 8, 4)  0.797883  0.687985  0.902010
(24,)       0.733561  0.937849  1.195355
(16, 8)     0.706084  0.968309  1.075879
(16, 8, 4)  0.914556  0.868506  1.064918

In [49]:
metric = lambda d: d['long_returns']
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       0.169315  0.172499  0.163038
(16, 8)     0.185885  0.138433  0.186752
(16, 8, 4)  0.190650  0.187938  0.148738
(24,)       0.180806  0.138214  0.133294
(16, 8)     0.154805  0.155360  0.143200
(16, 8, 4)  0.144202  0.203079  0.147755

In [51]:
metric = lambda d: d['long_SD']
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       0.176958  0.162189  0.184608
(16, 8)     0.191400  0.152930  0.183477
(16, 8, 4)  0.154308  0.166381  0.178882
(24,)       0.170708  0.152993  0.199265
(16, 8)     0.148764  0.181871  0.194272
(16, 8, 4)  0.185715  0.181015  0.156629

In [50]:
metric = lambda d: d['short_returns']
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       0.159001  0.188160  0.158843
(16, 8)     0.133621  0.171781  0.164041
(16, 8, 4)  0.150198  0.155237  0.154429
(24,)       0.129745  0.175066  0.203110
(16, 8)     0.133091  0.180591  0.180741
(16, 8, 4)  0.162941  0.148233  0.165013

In [52]:
metric = lambda d: d['short_SD']
pd.concat([get_table(metric,res_dict),get_table(metric,activation_res_dict)],axis=0)

                   2         4         6
(24,)       0.178570  0.220408  0.143251
(16, 8)     0.168461  0.195949  0.157632
(16, 8, 4)  0.188245  0.225640  0.171206
(24,)       0.176870  0.186668  0.169916
(16, 8)     0.188492  0.186502  0.167994
(16, 8, 4)  0.178164  0.170675  0.154954